<header class="header">
    <h1>Search Engine</h1>
</header>
<section>
    <div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <form>

            <input name="Search" [formControl]="searchTerm" class="inputBox" />
        </form>
        <section class="sortData">
            <div *ngIf=" searchData && searchData.length > 0" >
                <select (change)="sort($event.target.value)">
                    <option>Sort BY</option>
                    <option *ngFor="let array of sortArray" value={{array.value}}>
                        {{array.id}}</option>
                </select>
            </div>
        </section>
        <div class="main">
            <div *ngFor="let obj of searchData">
                <div (click)="redirectToRepos(obj.html_url)" class="flex-container">
                    <div class="image-col"><img src={{obj.owner.avatar_url}} class="avatarImage" /></div>

                    <div class="name-col">
                        <span> {{obj.name}}</span>
                    </div>

                    <div class="license-col">
                        <div *ngIf="(obj.license | json) != 'null'">License : {{obj.license.name}}</div>
                       
                    </div>
                    <div class="watch-col">
                    <div *ngIf="(obj.license | json) != 'null'">Key : {{obj.license.key}}</div>
                </div> 
                    <div class="watch-col">
                        Watchers: {{obj.watchers}}
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>