<header class="header">
    <h1>Search Engine</h1>
</header>
<section>
    <div class="container" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">
        <form>

            <input name="Search" [formControl]="searchTerm" class="inputBox" placeholder="Search" autocomplete="off"/>
        </form>
        <section class="sortData">
            <div *ngIf=" searchData && searchData.length > 0" >
                <select (change)="sort($event.target.value)">
                    <option>Sort BY</option>
                    <option *ngFor="let array of sortArray" value={{array.value}}>
                        {{array.id}}</option>
                </select>
            </div>
        </section>
        <div class="main">
            <div *ngFor="let obj of searchData">
                 <div class="card" (click)="redirectToRepos(obj.html_url)">
                    <div class ="row">
                        <div class="name-col">
                    <img src={{obj.owner.avatar_url}} alt="Avatar" class="avatarImage" >
                    <div class="container">
                      <h4><b>{{obj.owner.login}}</b></h4> 
                    </div></div>
                    <div class="watch-col">
                        <h4>{{obj.name}}</h4>
                        <div *ngIf="(obj.license | json) != 'null'">License : {{obj.license.name}}</div>
                        <div *ngIf="(obj.license | json) != 'null'">Key : {{obj.license.key}}</div>
                    </div>
                    <div class="watch-col">
                       <h4> Watchers- {{obj.watchers}} </h4>
                    </div>
                    <div class="id-col">
                        <h5>Id - {{obj.id}}</h5>
                     </div>
                     <div class="date-col">
                        <h4> {{obj.created_at}} </h4>
                     </div>
                    </div>
                  </div>
            </div>
        </div>



    </div>
</section>